# ignore global .gitignore
!*

# JVM-specific
*.class

# sbt-specific
project/boot/
project/plugins/project/
target/

# IntelliJ-specific
*/.idea/*

# Spark
spark-warehouse/

# Scaladoc-specific
*.html
*.js
lib/*
